<!DOCTYPE html>
<html>
<head>
  <title>Spree pagseguro gateway</title>
  <%= stylesheet_link_tag    "spree_pagseguro_gateway/application", media: "all" %>
  <%= javascript_include_tag "spree_pagseguro_gateway/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
